<div class="row">
  <div class="col-6 mx-auto">
    <div class="card mb-4">
      <% @post.ancestors.each do |ancestor| %>
        <%= render 'posts/body', post: ancestor %>
      <% end %>
      <%= render 'posts/body', post: @post %>
      <div class="card-footer text-muted border-top-0">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>

<div class="row mb-4">
  <div class="col-6 mx-auto">
    <%= render 'posts/notes' %>
  </div>
</div>
