<div class="row">
  <div class="col-6 mx-auto">
    <div class="card mb-4">
      <div class="card-body">
        <h4 class="post-title"><%= @post.title %></h4>
        <p><%= @post.body %></p>
      </div>
      <div class="card-footer text-muted">
        <%= render 'comments/form' %>
      </div>
    </div>

    <%= render @notes %>
  </div>
</div>
