<li class="list-group-item p-2 mt-3">
  <% if like.user.profile_picture.attached? %>
      <%= image_tag like.user.profile_picture.variant(resize_to_limit: [20, 20]), class: 'img-thumbnail' %>
  <% else %>
    <%= image_tag 'https://via.placeholder.com/20', class: 'img-thumbnail' %>
  <% end %>
  <%= link_to "#{like.user.username} likes this.", like.user, class: 'link' %>
</li>
