<div class="card my-1">
  <div class="card-header border-bottom-0 p-1">
    <%= render 'shared/profile_picture', user: like.user %>
    <%= link_to "#{like.user} liked this.", like.user, class: 'link' %></small>
  </div>
</div>
