<%= render 'users/profile_card', user: @user %>

<div class="row mt-4">
  <div class="col-md-6 col-sm-12 mx-auto">
    <% @posts.each do |post| %>
      <%= render 'posts/thread', thread: post.path %>
    <% end %>
  </div>
</div>
