<div class="row mt-4">
  <div class="col-md-8 col-sm-12 mx-auto">
    <h1 class="display-4">rumblr</h1>
    <p class="lead">A Tumblr-like microblogging application written in Ruby on Rails.</p>
    <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
    <hr class="my-4">
    <ul>
      <li>Log in as a demo user: <kbd>demo:password</kbd></li>
      <li>Or <a href="/sign_up">create an account.</a></li>
      <li>Or <a href="/posts">just look at the posts.</a></li>
    </ul>
  </div>
</div>
