@import '~bootstrap/scss/bootstrap.scss';
@import '@fortawesome/fontawesome-free';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


body {
  font-family: 'Noto Sans', sans-serif;
}

.post-title {
  font-weight: bold;
}

.username {
  font-weight: bold;
}

.link {
  color: #000;
}

.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}

