<div class="card-footer text-muted border-top-0 p-1">
    <%= render 'posts/time_and_notes', post: post %>
  <div class="float-right">
    <% if user_signed_in? %>
      <%= render 'posts/interaction_buttons', post: post %>
      <%= render 'posts/author_buttons', post: post %>
    <% end %>
  </div>
</div>
