<div class="card my-2">
  <div class="card-header p-1">
    <%= render 'shared/profile_picture', user: user %>
    <%= link_to "#{user.username} #{action}", link, class: 'link' %></small>
  </div>
</div>
