<div class="row">
  <div class="col-12 mx-auto">
    <div class="card mb-4">
      <div class="card-body">
        <h1><%= post.title %></h1>
        <p><%= post.body %></p>
      </div>
      <div class="card-footer text-muted">
        <div class="float-right">
          <%= render 'posts/author_buttons', post: post %>
        </div>
      </div>
    </div>
  </div>
</div>
