<div style="padding: 0.5em; display: inline-block; vertical-align: top;" class="mr-2">
  <% if post.author.profile_picture.attached? %>
    <%= image_tag post.author.profile_picture.variant(resize: "25x25").processed, style: "margin-right: 0.25em; border-radius: 2px;" %>
  <% end %>
  <strong><%= link_to "#{post.author}", post.author, class: 'post.authorname link' %></strong>
</div>
