<div class="card my-1">
  <div class="card-header p-1">
    <%= render 'shared/profile_picture', user: reblog.author %>
    <%= link_to "#{reblog.author} reblogged this and wrote:", reblog, class: 'link' %></small>
  </div>
  <div class="card-body px-3 py-2">
    <p class="text-break mb-1"><%= sanitize(truncate(reblog.body, omission: "...", length: 150)) %></p>
  </div>
</div>
