<div class="card my-1 rounded-0">
  <%= render 'notes/note_header', 
    user: reblog.author,
    action: "reblogged this and wrote:",
    link: reblog %>
  <div class="card-body p-2">
    <p class="text-break mb-1"><%= sanitize(truncate(reblog.content, omission: "...", length: 150)) %></p>
  </div>
</div>
