<div class="row">
  <div class="col-md-6 col-sm-12 mx-auto">
    <div class="card">
      <h5 class="card-header">Edit post</h5>
      <div class="card-body">
        <%= render 'form', post: @post %>
      </div>
    </div>
  </div>
</div>
