<div class="row">
  <div class="col-md-6 col-sm-12 mx-auto">
    <%= render @post %>
  </div>
</div>

<div class="row mb-4">
  <div class="col-md-6 col-sm-12 mx-auto" id="notes">
    <%= render 'posts/notes' %>
  </div>
</div>
