<div class="row">
  <div class="col-6 mx-auto">
    <div class="card mb-4">
      <div class="card-body">
        <h1><%= @post.title %></h1>
        <p><%= @post.body %></p>
      </div>
      <div class="card-footer text-muted">
        <div class="float-right">
          <% if current_user == @post.author %>
            <%= link_to edit_post_path(@post), 
              class: 'btn btn-outline-success btn-sm' do %>
              Edit
            <% end %>
            <%= link_to post_path(@post), 
              method: :delete, 
              class: 'btn btn-outline-danger btn-sm',
              id: "delete-#{@post.id}",
              data: { confirm: "are you sure you want to delete this post?" } do %>
              Delete
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
